body {
    display: block;
/*    margin: 8px;*/
    
    background-image: url("images/background4.jpg");
    background-repeat: no-repeat;
    
    background-size: 100%;
    background-attachment: fixed;
}
article {
    margin-top: 30px;
}
.admin-table {
	width: 100%;
} 
label {
	width: 100%;
}
.form-item {
	width: 100%;
}
#main {
    margin: 0px 0px 0px 0px;
    text-align: center;
    padding: 100px;
    color: white;
    font-size: 80px;
    background-image: url(images/wall.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
/*    height: 300px;*/
}
.container {
    margin: 30px 40px 20px 20px;
    padding: 0px;
    text-align:justify;
    background-color: rgba(255, 255, 255, 0.95)
}
table, th, td {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color:gainsboro;
}
footer {
    margin: 20px 0px 10px 0px;
    text-align: center;
}
footer:after {
/*
    white-space: pre;
    content: "Ресурс про Кібербезпеку \A Copyright \00A9  2016.";
    font-size: 14px;
    color:#78909C;
*/
}
textarea {
    height: 200px;
}
a {
    text-decoration: none;
    color:#283593;
}
a[href*="admin"]{
    margin-top: 130px;
}
h1 {
    color: #606060;
}
nav {
    display: block;
    margin: 20px 0px 10px 0px;
}
.two ul {
    list-style: none; 
    margin: 0 auto;
    background: #C5CAE9;
    overflow: hidden;
    padding: 0;
}
.two li {
    float: left;
}
.two a {
    display: block;
    padding: 1em;
    color: #1A237E;
    transition: .5s linear;
}
.two a:hover {
    background: #303F9F;
    color: white;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.small-images {
    text-align: center;
}
.small-images img {
    margin: 10px auto;
    margin: 0px 20px 0px 20px;
    width: 100px;
}

.magic_class {
background-position: 50% 50%;
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}





